<?xml version="1.0"?>
<isa:configuration xmlns:isa="urn:configuration" fileVersion="5.10.000" name="Config" targetName="ARM-TARGET_L" comment="" singleTextLine="Config Template Dixell" password="" memSizeForTempVars="60000" isEnhanced="0" isIsagraf3="0" useBitmap="0" supportIEC61850="0" creationDateTime="2016/7/28 10:27:30"><resource name="Resource" comment="Resources 1"/><connections><connection networkName="ETCP"><parameter value="192.168.1.250" order="0" nbMaxExtend="IPAddress"/></connection></connections><libraries><library libraryPath="C:\USERS\ANDREW\DESKTOP\IPRO TOOLS\IPRO-TOOLS_110919\1.0 ISAGRAF\1.5 LIBRARY\GFL_2009112300_52204\PRJLIBRARY.MDB"/></libraries><virgoAEDataSources><virgoAEDataSource index="0" guid="" priority="15" dumperPriority="25" sharedMemSize="2" fileSize="16" fileWritingHiLevel="80" fileWritingLoLevel="20" overflowLogIntervalTime="60" flushSharedMemTime="10" reconnectionDelay="10" maxRecMsg="100" uploadInterval="10" isEnable="1"/></virgoAEDataSources></isa:configuration>
